<!-- Page -->
<div class="page">
    <div class="page-header">
        <h1 class="page-title">Ingresos</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Finanzas</a></li>
            <li class="breadcrumb-item active">Ingresos</li>
        </ol>
        <div class="page-header-actions">
            <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
                    data-original-title="Edit">
                <i class="icon md-edit" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
                    data-original-title="Refresh">
                <i class="icon md-refresh-alt" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-sm btn-icon btn-primary btn-round" data-toggle="tooltip"
                    data-original-title="Setting">
                <i class="icon md-settings" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="page-content">
        <!-- Panel Form Elements -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Nuevo Ingreso</h3>
            </div>
            <div class="panel-body">
                <form id="formulario" action="">
                    <div class="form-group row">
                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Nombre</h4>
                            <input name="nombre" required type="text" class="form-control" id="inputNombre"
                                   placeholder="Ingrese el nombre">
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Cuenta</h4>
                            <select name="cuenta" required id="selectCuenta" class="form-control selector-a"
                                    data-plugin="select2">
                            </select>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Suma</h4>
                            <input name="suma" required type="number" step="any" title="Suma" class="form-control"
                                   id="inputSuma"
                                   placeholder="Ingrese un monto">
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Imagen</h4>
                            <input name="imagen" type="file" accept="image/*" capture class="form-control"
                                   id="inputImagen"
                                   placeholder="placeholder">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Fecha</h4>
                            <input name="fecha" required type="date" class="form-control" id="inputFecha">
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Categoría</h4>
                            <select name="categoria" required id="selectCategoria" class="form-control selector-a"
                                    data-plugin="select2">
                                <option>Salario</option>
                                <option>Mesada</option>
                                <option>Regalo</option>
                            </select>
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Descripción</h4>
                            <input name="descripcion" type="text" title="Descripción" class="form-control"
                                   id="inputDescripcion"
                                   placeholder="Ingrese una descripción">
                        </div>

                        <div class="col-md-6 col-lg-3">
                            <h4 class="example-title">Opciones</h4>
                            <div>
                                <button id="submitButton" type="submit"
                                        class="col-md-6 form-control btn btn-primary waves-effect waves-light waves-round">
                                    Guardar
                                    Cambios
                                </button>
                                <button id="resetButton" type="reset"
                                        class="col-md-5 form-control btn btn-primary waves-effect waves-light waves-round">
                                    Limpiar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Panel Form Elements -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Listado de los ingresos</h3>
            </div>
            <div class="panel-body">
                <div id="tabla">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->

<script>
    window.onload = function () {

        var inputNombre = $('#inputNombre');
        var selectCuenta = $('#selectCuenta');
        var inputSuma = $('#inputSuma');
        var inputImagen = $('#inputImagen');
        var inputFecha = $('#inputFecha');
        var selectCategoria = $('#selectCategoria');
        var inputDescripcion = $('#inputDescripcion');
        var submintButton = $('#submitButton');
        var resetButton = $('#resetButton');
        var formulario = $('#formulario');

        var idIngreso = null;

        var cuentas = <%- JSON.stringify(vista.datos.cuentas) %>;
        var datosCuentas = [];
        cuentas.forEach(function (element) {
            datosCuentas.push({id: element.id, text: element.nombre});
        })

        console.log(datosCuentas);

        selectCuenta.select2({
            data: datosCuentas
        });

        /*selectCategoria.select2({
            data: [
                {id: 1, text: 'Servicios Basicos'},
                {id: 2, text: 'Pasajes'},
                {id: 3, text: 'Comida'},
                {id: 4, text: 'ropa'},
                {id: 5, text: 'Bebida'}
            ]
        });*/

        var miLoadStrategy = function (grid) {
            jsGrid.loadStrategies.PageLoadingStrategy.call(this, grid);
        };

        miLoadStrategy.prototype = new jsGrid.loadStrategies.PageLoadingStrategy();

        miLoadStrategy.prototype.sort = function () {
            this._grid._sortData();
            this._grid.refresh();
            return $.Deferred().resolve().promise();
        }

        /*miLoadStrategy.prototype.finishDelete = function(deletedItem, deletedItemIndex) {
            var grid = this._grid;
            grid.option("data").splice(deletedItemIndex, 1);
            grid.refresh();
        };*/

        jsGrid.locale("es");

        $('#tabla').jsGrid({

            loadStrategy: function () {
                return new miLoadStrategy(this);
            },

            width: "100%",
            height: "300px",
            sorting: true,
            pageLoading: true,

            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        type: 'GET',
                        url: '/ingreso/listar/ajax=true',
                        dataType: 'json'
                    });
                },
                deleteItem: function (item) {
                    console.log(item);
                    return $.ajax({
                        type: 'POST',
                        url: '/ingreso/listar/eliminar',
                        dataType: 'json'
                    });
                }
            },

            data: <%- JSON.stringify(vista.datos.ingresos) %>,
            fields: [
                {title: "id", name: "id", type: "number", width: 40, visible: true},
                {title: "Nombre", name: "nombre", type: "text", width: 150, validate: "required"},
                {title: "Categoría", name: "categoria", type: "text", width: 150, validate: "required"},
                {title: "Descripción", name: "descripcion", type: "text", width: 150, validate: "required"},
                {title: "Suma", name: "suma", type: "number", width: 60},
                {title: "Fecha", name: "fecha", type: "text", width: 80},
                {
                    title: "Cuenta",
                    name: "idCuenta",
                    type: "select",
                    items: datosCuentas,
                    valueField: "id",
                    textField: "text",
                    width: 80
                },
                {type: "control", editButton: false, modeSwitchButton: false},
            ],

            rowClick: function (args) {
                console.log(args);
                let item = args.item;

                idIngreso = item.id;

                inputNombre.val(item.nombre);
                selectCuenta.val(item.idCuenta).change();
                inputSuma.val(item.suma);
                let fecha = new Date(item.fecha).toISOString().substr(0, 10);
                inputFecha.val(fecha);
                selectCategoria.val(item.categoria).change();
                inputDescripcion.val(item.descripcion);

            },
        });

        submintButton.click(function (event) {
            if (formulario[0].checkValidity()) {
                event.preventDefault();
                console.log("holas de mar");


                let datosForm = $('#formulario').serializeArray();
                console.log(datosForm);
                let datos = {};
                datosForm.forEach(function (dato, index, array) {
                    datos[dato.name] = dato.value;
                });

                let url = '/ingreso/adicionar';

                if (idIngreso != null) {
                    url = '/ingreso/editar';
                    datos.id = idIngreso;
                }

                var temp = new Date(datos.fecha).toISOString();
                console.log(temp);

                datos.fecha = temp;

                console.log(datos);

                $.post({
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(datos),
                    dataType: 'json',
                    success: function (data, status, xhr) {
                        console.log(data);
                        if (data.terminado) {
                            $('#tabla').jsGrid("loadData");
                            //$('#tabla').jsGrid("refresh");
                        }
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log(errorMessage);
                        console.log("ERROR-------------");
                    }
                });
            } else {
                formulario[0].reportValidity();
            }

        });

        resetButton.click(function (event) {
            idIngreso = null;
        });

    }
</script>